[mysqld]

# language
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# authentication plugins
default_authentication_plugin= mysql_native_password

[client]

# language
default-character-set = utf8mb4


[mysql]

# language
default-character-set = utf8mb4