[mysqld]

# language
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# authentication plugins
default_authentication_plugin= mysql_native_password

# error log
log-error = /var/log/StocklistLogs/mysql/mysql-error.log

# slow_query log
slow_query_log = 1
slow_query_log_file = /var/log/StocklistLogs/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# details log
general_log = 1
general_log_file = /var/log/StocklistLogs/mysql/mysql-query.log


[client]

# language
default-character-set = utf8mb4


[mysql]

# language
default-character-set = utf8mb4